* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: aliceblue;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

button,
a {
  cursor: pointer;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav ul,
.header,
.logoNav,
.links,
.heroSection {
  display: flex;
  align-items: center;
}

.logoNav {
  gap: 50px;
}

.nav ul,
.links {
  gap: 20px;
}

.nav li,
.login {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  color: #272d4e;
}

.links button {
  font-size: 18px;
  color: white;
  background-color: #7854f7;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
}

.heroSection {
  padding: 3rem 0 0 13rem;
}

.heroText {
  width: 58%;
}

.heroImage {
  width: 42%;
}

.heroText h1 {
  font-size: 68px;
  font-weight: 700;
  line-height: 85px;
  color: #272d4e;
}

.heroText p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  padding: 1rem 0;
  color: #94a2b3;
}

.heroText button {
  background-color: #7854f7;
  color: #fff;
  font-size: 18px;
  border: 0;
  border-radius: 60px;
  padding: 15px 40px;
}

.heroText span {
  font-size: 18px;
  word-spacing: 10px;
}

.heroText span > a {
  color: #299ef3;
  font-weight: 700;
  word-spacing: normal;
}

.comSect h3 {
  font-size: 55px;
  font-weight: 700;
  line-height: 70px;
  margin: 3rem auto;
  text-align: center;
  color: #272d4e;
  width: 35%;
}

.container {
  display: flex;
  gap: 4rem;
  padding: 0 11rem;
}

.second{
  margin-top: 5rem;
}

.third{
  margin-top: 10rem;
}

.mainImage {
  position: relative;
  padding: 0;
}

.sideImage {
  position: absolute;
  border-radius: 6px;
}

.sideImage img:not(.apple img) {
  border-radius: 20px;
}

.apple {
  top: 15px;
  left: -70px;
}

.stripe {
  top: 70px;
  left: -90px;
  height: 220px;
}

.setup,
.customize,
.community {
  z-index: -1;
}

.box > .sideImage {
  width: 80px;
  height: 50px;
}

.square {
  left: 40px;
  top: -35px;
}

.mp {
  left: 190px;
  top: 20px;
}

.fb {
  left: 40px;
  top: 80px;
}

.jp {
  left: 150px;
  top: 105px;
}

.gg {
  bottom: -20px;
  left: 120px;
}

.about {
  background-color: #7854f7;
}
